extends layout/base.pug
block title 
title Home  
block content
  h1.head.main-head Home page
  if programmings
    ul 
      each programming in programmings
        li #{programming}
  else 
    p No courses     