

<div style="min-height:70vh;" class="d-flex col-12 align-items-center justify-content-center mt-3">
   
     <form class="col-5 d-flex flex-column align-items-center p-2 border" action="/save" method="post">
        <h1 class="text-center">Add Users</h1>
        <div class="d-flex gap-4">
        <div class="">
          <label for=""> Name </label>
          <input name="name" class="form-control" type="text">
        </div>
        <div class="">
          <label for=""> Age </label>
          <input name="age" class="form-control" type="number">
        </div>
        </div>
        <div class="col-10">
          <label for=""> City </label>
          <input name="city" class="form-control" type="text">
        </div>
        <div class="mt-4">
        <button class="btn btn-primary" type="submit">Add User</button>
        </div>
     </form>

</div>